@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  @apply text-white;
}
body {
  background-color: #f3f4f6; /* default light mode background color */
}

.dark {
  background-color: #1f2937; /* dark mode background color */
  color: #f9fafb; /* text color in dark mode */
}
